.comments-container {
    display: flex;
    flex-direction: column;
  }
  
  .comment {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    border-radius: 5%;
    border: #f2f2f2;
    border-width: 10px;
    
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d8d7d7;
    width: 95%;
  }
  
  .comment-info {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .comment-author {
    /* Add styles for font weight, size, etc. */
    font-weight: 10;
    padding:1px 0px 1px 0px; 
    border-radius: 20%;
  }
  
  .comment-time {
    /* Add styles for font color, size, etc. */
    font-size: 6px;
    padding-right: 10px;
  }
  
  .comment-description {
    margin-top: 1rem;
    /* Add styles for font size, line height, etc. */
  }
  
  .comment-rating {
    /* Add styles for font size, color, etc. */
  }
  
  .comment-image {
    /* Adjust styles for image size, border, etc. */
  }
  .m-5 {
    margin: -0.75rem;
}
/* #ffffff */